{% extends "emails/base_sip_obra.html" %}
{% block body %}
<tr>
  <td style="padding:0 60px;">
    <span style="font-weight:bold;">Estimado/a Administrador y Asistente de Obra,</span>
  </td>
</tr>
<tr><td height="10" style="height:10px;font-size:0;line-height:0;">&nbsp;</td></tr>
<tr>
  <td style="padding:0 60px;">
    <span style="text-align:justify;">
      El contrato de {{ nombre_candidato }} ya se encuentra disponible para ser firmado por el trabajador.
    </span>
  </td>
</tr>
{% endblock %}
